.fifth {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  h1 {
    color: white;
    font-size: 40px;
  }

  form {
    margin: auto;
    width: 500px;
    max-width: 100vw;
    padding: 24px;
    display: flex;
    flex-direction: column;

    h1 {
      font-family: "Bodoni";
      text-align: center;
      color: #ca2026;
      font-size: 40px;
      text-shadow: 1px 1px 0px white;
    }

    label {
      padding: 6px 10px 0;
      font-family: "Bodoni";
      color: #ca2026;
      font-size: 18px;
      text-shadow: 1px 1px 0px white;
    }

    input, textarea {
      margin: 12px;
      padding: 10px;
      font-size: 16px;
      font-family: Georgia, 'Times New Roman', Times, serif;

      &[type="checkbox"] {
        zoom: 2;
      }
    }

    textarea {
      min-height: 80px;
    };

    button {
      margin: 12px;
      padding: 12px;
      font-size: 16px;
      background: #ca2026;
      color: white;
      border: 0;
      cursor: pointer;
      transition: background 100ms ease-in-out;

      &:hover {
        background-color: lighten(#ca2026, 10%);
      }
    }
  }
}