@import 'assets/styles/responsive.scss';

.fourth {
  position: relative;
  
  .heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: calc(100vh - 80px);
    flex-direction: column;
    color: white;
    opacity: 1;
    text-align: center;
    z-index: 1;
    padding-top: 80px;

    h1 {
      font-size: 75px;
      position: relative;
      z-index: 1;
      text-align: center;
      font-family: 'Helvetica';
      color: white;
      text-shadow: none;
      text-shadow: 3px 3px 0px #e85b5b;
      margin: 0;

      @include mobile {
        font-size: 50px;
        text-align: center;
      }

      span {
        font-size: 30px;

        @include mobile {
          font-size: 25px;
        }
      }
    }

    .mobileBreak {
      display: none;

      @include mobile {
        display: initial;
      }
    }

    h2 {
      font-family: "Bodoni";
      font-size: 55px;
      text-shadow: 4px 3px 0px #e85b5b;
      position: relative;
      z-index: 1;
      text-align: center;
      margin: 0;

      @include mobile {
        font-size: 35px;
        margin-top: 24px;
      }
    }
    
    h4 {
      font-family: "Bodoni";
      font-size: 25px;
      text-shadow: 4px 3px 0px #e85b5b;
      position: relative;
      z-index: 1;
      text-align: center;
      margin: 0;
    }    
  }
    
  .truck {
    position: absolute;
    bottom: 60px;
    right: -100%;
    transition: right 500ms ease-in-out;
    transition-delay: 500ms;

    &[data-visible="true"] {
      right: 0;

      @include mobile {
        right: -20px;
      }
    }

    @include mobile {
      bottom: 10%;
      height: 200px;
    }
  }
}